body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #262626;
  color: white;
  height: 50px;
}
.header-nav {
  height: inherit;
}
.header-nav ul {
  align-items: center;
  height: inherit;
  display: flex;
  justify-content: space-evenly;
}
